<!doctype html>
<head>
<title>Upload files to encrypt</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="styles.css"  />  
</head>

<h1>File Uploader</h1>
<form name="input" action="/viewfiles" method="post" enctype=multipart/form-data>
<br>
Choose a file to upload: <input type="file" name="infile"/>
<br>
Enter the firm ID: <input type="text" name="firmid"/>
<br>
Enter the client ID: <input type="text" name="clientid"/>
<input type="submit">
</form>
</html>
