<!doctype html>
<head>
<title>File Encrypt Results</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="styles.css"  />  
</head>

<H1>File Save Results</H1>
<br>
<b>File Name {{ filename }} was encrypted using key {{ key }} <b>
<br>
<form name="input" action="/decrypt" method="post" enctype=multipart/form-data>
<br>
Download decrypted file? <input type="submit" value="OK">
<input type="hidden" name="bfirmid" value="{{ bfirmid }}">
<input type="hidden" name="filename" value="{{ filename }}">
<input type="hidden" name="bclientid" value="{{ bclientid }}">
</form>

</html>
